[Unit]
Description=Zephyr IPC Service Gateway
After=amp-shmem.service network.target
Requires=amp-shmem.service
ConditionPathExistsGlob=/sys/class/rpmsg/rpmsg_ctrl*

[Service]
Type=simple
ExecStart=/usr/libexec/amp/zephyr_ipc_gateway.sh
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
