BBPATH ?= "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../sources/poky/meta \
  ${TOPDIR}/../sources/poky/meta-poky \
  ${TOPDIR}/../sources/meta-openembedded/meta-oe \
  ${TOPDIR}/../sources/meta-microchip \
  ${TOPDIR}/../sources/meta-polarfire-soc \
  ${TOPDIR}/../layers/meta-polarfire-nn \
"
