MACHINE ??= "mpfs-dev-kit"
DISTRO ?= "polarfire-dev"
PACKAGE_CLASSES ?= "package_rpm"
IMAGE_FSTYPES += "wic.gz"
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Feature toggles
EXTRA_IMAGE_FEATURES += "ssh-server-openssh"
EXTRA_IMAGE_FEATURES += "debug-tweaks"

# Custom layer settings
POLARFIRE_NN_ENABLE ?= "1"
AMP_HART_LAYOUT ?= "linux:u54_0;zephyr:u54_1;zephyr:u54_2;zephyr:u54_3"
